<main>
  <footer class="flex flex-col bg-black px-20 py-5 text-white">


    <div class="flex flex-row justify-evenly flex-wrap md:gap-8 sm:gap-9">


      <div class="flex flex-col gap-5 text-white">
        <div class="font-300 text-3xl">Exclusive</div>        
        <div class="font-300 text-2xl">Subscribe</div>
        <div class="flex flex-col">
          <span>
            <label for="email" class="font-200 text-2xl">Get 10% off your first order</label>
          </span>
          <input type="email" class="rounded-xl border-spacing-5 h-10">
        </div>
      </div>

      
      <div class="flex flex-col gap-5 text-white">
        <div class="font-300 text-3xl">Support</div>
        <div class="font-300 text-xl">111 Bijoy sarani, Dhaka, <br>  DH 1515, Bangladesh.</div>
        <div class="font-300 text-xl">golon201&#64;gmail.com</div>
        <div class="font-300 text-xl">+237-683-836-629</div>
      </div>

      <div class="flex flex-col gap-5 text-white">
        <div class="font-300 text-3xl">Account</div>        
        <div class="font-300 text-xl">My Account</div>
        <div class="font-300 text-xl">Login / Register</div>
        <div class="font-300 text-xl">Cart</div>
        <div class="font-300 text-xl">Wishlist</div>
        <div class="font-300 text-xl">Shop</div>
      </div>

      
       <div class="flex flex-col gap-5 text-white">
        <div class="font-300 text-3xl">Quick Link</div>
        <div class="font-300 text-xl">Privacy Policy</div>
        <div class="font-300 text-xl">Terms Of Use</div>
        <div class="font-300 text-xl">FAQ</div>
        <div class="font-300 text-xl">Contact</div>
        <div class="font-300 text-xl">Shop</div>

      </div>

      
      <div class="flex flex-col gap-5 text-white">
        <div class="font-300 text-3xl">Download App</div>        
        <div class="text-sm text-opacity-30">Save $3 with App New User Only</div>
        <div class="flex flex-row gap-6"> 

          <div>
            <img src="assets/images/qcode.png" alt="Image not found">
          </div>

          <div class="flex flex-col  gap-3">
            <div>
              <img src="assets/images/play.png" alt="download on google play">
            </div>
            
            <div>
              <img src="assets/images/apple.png" alt="download aple store">
            </div>
          </div>

        </div>
      </div>

    </div>

  <div class="flex flex-col justify-center text-center m-6 text-opacity-25">
      ©2024 Akgen. All Rights Reserved.
  </div>
  </footer>
</main>